*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --arrangedDistance:1000;
    --selectedRack:0;
}
html{
    font-family: sans-serif;
}
body{
    overflow: hidden;
}
.search-inter-face{
    z-index: 102;
}
.common-gap{
    gap: 7px;
}
.pharmacy-flex{
    display: flex;
}
.pharmacy-center{
    align-items: center;
}
.pharmacy-justify-center{
    justify-content: center;
}
.pharmacy-justify-spacebetween{
    justify-content: space-between;
}
.pharmacy-grid{
    display: grid;
}
.path-direction{
    flex-direction: column;
}
.top-layer{
    background-color: #e4a576;
    padding: 5px;
}
.detail-style {
    height: 120px;
    border: 1px solid black;
    padding: 10px;
    background-color: #ccd5d2;
}
.search-bar{
    gap: 20px;
    background-color: #ccd5d2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.search-parent{
    width: 350px;
    padding: 5px;
}
.search-tool{
    --size: 45px;
    border: 2px solid #e4a576;
    border-radius: 50px;
    width: var(--size);
    height: var(--size);
    padding: 3px;
    position: relative;
    transition: width 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    overflow: hidden;
}
.search-tool__input{
    flex-grow: 1;
    font-size: 1rem !important;
    padding: 6px;
    border: 0;
    position: absolute;
    background-color: transparent;
    width: calc(100% - var(--size));
    cursor: pointer;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: calc(var(--size) - 3px);
}
.search-tool__input:focus{
    outline: 0;
}
.search-tool__submit{
    cursor: pointer;
    border: 0;
    background-color: transparent;
    border-radius: 50%;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    margin-left: auto;
    transition: background 150ms ease-in-out;
}
.search-tool:focus-within{
    width: 100%;
}
.search-tool:focus-within .search-tool__submit{
    background-color: #e4a576;
    color: #152935;
}
.search-tool:focus-within .search-tool__submit:focus{
    outline: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.search-tool:focus-within .search-tool__input{
    opacity: 1;
    cursor: initial;
}
.qty-box{
    background-color: #f5f5f5;
    height: 36px;
    width: 80px;
    border: 1px solid #152935;
    padding: 20px;
    outline: 0;
}
.biller-style{
    gap: 30px;
}
.detail-class{
    gap: 30px;
    background-color: #fff;
}
.logo-style{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #152935;
}
.logo-style-15{
    position: relative;
}
.logo-style-mg{
    position: relative;
}
.logo-style-mg::before {
    content: '';
    position: absolute;
    width: 52px;
    height: 4px;
    top: 30px;
    left: -27px;
    background-color: #152935;
}
.logo-style-15::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    top: 6px;
    background-color: #152935;
}
.sort-icon-style{
    padding: 10px;
    background-color: #fff;
}
.search-btn{
    background-color: #698ea2;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    color: white;
    padding:13px 40px;
    cursor: pointer;
}
.content{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: start;
}
.layouting{
    width: 100vw;
    height: 100vh;
    grid-template-rows: auto auto 1fr;
}
.main{
    grid-template-columns: 1.2fr 1fr 1.8fr;
}
.rack-header{
    padding-left: 100px;
}
.main-second{
    grid-template-rows: auto 1fr auto;
    padding: 30px;
}
.table-header{
    grid-template-rows: repeat(2,auto) 1fr;
}
.sort-container-style{
    justify-content: flex-end;
}
.main-first{
    width: 90%;
    padding: 30px;
    grid-template-rows: auto 1fr;
    gap: 30px;
}
.bill-logo{
    justify-content: flex-end;
    padding:  20px 0;
}
.layer-1{
    z-index: 100;
}
.layer-2{
    z-index: 99;
}
.layer-3{
    z-index: 98;
}
.layer-4{
    z-index: 97;
}
.layer-5{
    z-index: 96;
}
.layer-6{
    z-index: 95;
}
.layer-7{
    z-index: 94;
}
.layer-8{
    z-index: 93;
}
.rack-1{
    transform: translate3d(0px,0px,calc(0 * (var(--arrangedDistance)) * (-1px) + (var(--selectedRack) * var(--arrangedDistance) * 1px)));
}
.rack-2{
    transform: translate3d(4px,0px,calc(1 * (var(--arrangedDistance)) * (-1px) + (var(--selectedRack) * var(--arrangedDistance) * 1px)));
}
.rack-3{
    transform: translate3d(8px,0px,calc(2 * (var(--arrangedDistance)) * (-1px) + (var(--selectedRack) * var(--arrangedDistance) * 1px)));
}
.rack-4{
    transform: translate3d(12px,0px,calc(3 * (var(--arrangedDistance)) * (-1px) + (var(--selectedRack) * var(--arrangedDistance) * 1px)));
}
.rack-5{
    transform: translate3d(16px,0px,calc(4 * (var(--arrangedDistance)) * (-1px) + (var(--selectedRack) * var(--arrangedDistance) * 1px)));
}
.rack-6{
    transform: translate3d(20px,0px,calc(5 * (var(--arrangedDistance)) * (-1px) + (var(--selectedRack) * var(--arrangedDistance) * 1px)));
}
.rack-7{
    transform: translate3d(24px,0px,calc(6 * (var(--arrangedDistance)) * (-1px) + (var(--selectedRack) * var(--arrangedDistance) * 1px)));
}
.rack-8{
    transform: translate3d(28px,0px,calc(7 * (var(--arrangedDistance)) * (-1px) + (var(--selectedRack) * var(--arrangedDistance) * 1px)));
}
.scene{
    width: 600px;
    height: 600px;
    position: absolute;
    perspective-origin: -55%;
    perspective: 1200px;
    left: 250px;
}
.cuboid{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
}
.cuboid-common-face{
    position: absolute;
    perspective: 200px;
}
.rack-background{
    background-color: #DDDDDD;;
}
.front{
    width: 400px;
    height: 600px;
    transform: rotateY(0deg) translateZ(50px);
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.back{
    width: 400px;
    height: 600px;
    transform: rotateY(180deg) translateZ(50px);
    border: 2px solid black;
}
.right{
    width: 100px;
    height: 600px;
    border: 2px solid black;
    transform: rotateY(90deg) translateZ(350px);
}
.left{
    width: 100px;
    height: 600px;
    border: 2px solid black;
    transform: rotateY(-90deg) translateZ(50px);
}
.rack-name-style{
    flex: none;
    transform: rotate(270deg);
    font-size: 48px;
}
.top{
    width: 400px;
    height: 100px;
    border: 2px solid black;
    transform: rotateX(90deg) translateZ(50px);
}
.bottom{
    width: 400px;
    height: 100px;
    border: 2px solid black;
    transform: rotateX(-90deg) translateZ(550px);
}
.shelf{
    outline: 2px solid #06113C;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.container{
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccd5d2;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.path-way{
    height: 60px;
    border: 1px solid black;
    background-color: #ccd5d2;
    padding: 18px;
}
.value-style{
    color: #FA8072;
}
.total-box{
    width: 80px;
    height: 43px;
    padding: 12px 10px;
    border: 1px solid black;
    background-color: #ccd5d2;
}
.rack-section{
    height: 100%;
    padding: 30px;
    grid-template-rows: repeat(1,auto) 1fr repeat(1,auto);
}
.movement-btn{
    gap: 50px;
    z-index: 1000;
    margin-left: 150px;
}
.high-light-color{
    background-color:  #e4a576 !important;
}
.blink{
    animation: blink 1s steps(5,start) infinite;
    background-color: red;
}
@keyframes blink {
    to{
        visibility: hidden;
    }
}
.table-container{
    width: 100%;
    height: 77vh;
    overflow: auto;
}
.detail-header{
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    background-color: #ccd5d2;
}
.detail {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    border-bottom: 1px solid black;
}
.detail:nth-child(odd){
    background-color: #F5F5F5;
}
.bill-border{
    padding: 3px;
    background-color: #152935;
}
.total-medicine-billing{
    grid-template-rows: repeat(4,auto) 1fr repeat(2,auto);
    gap: 10px;
}
.border{
    border-bottom: 1px dotted black;
}
.name-style{
    background-color: #F3F1F5;
}
.time-value{
    width: 60px;
}
.bill-list{
    grid-template-columns: 2fr repeat(3,1fr) 1fr 1fr;
    grid-template-rows: auto;
    overflow-y: auto;
    height: 100px;
    grid-gap: 10px 20px;
    border-bottom: 1px dotted black;
}
.bill-heading{
    grid-template-columns: 2fr repeat(3,1fr) 1fr 1fr;
    border-top: 1px dotted #152935;
    border-bottom: 1px dotted #152935;
    color: #152935;
    gap: 20px;
    padding: 10px 0;
    background-color: #ccd5d2;
}
.edit-style{
    font-size: 20px !important;
}
.final-section{
    grid-template-columns: repeat(2,1fr);
    background-color: #ccd5d2;
}
.yellow{
    background-color: #e4a576 !important;
}
.table-gap{
    padding: 10px;
}
.reduce-style{
    padding: 5px;
    border: 1px solid #e4a576;
    border-radius: 2px;
    font-size: 14px !important;
    background-color: #F5F5F7;
}
.input-style{
    padding: 5px;
    color: #FA8072;
    border: none;
    outline: none;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
margin:0;
}